.carousel {
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
  }
  
  .carousel img {
    max-width: 100%;
    height: auto;
  }

  .swiper-button-next:after{
    content: 'next';
    font-size: large;  
  }
  
  .carousel .thumbs-wrapper {
    margin: 0px;
    overflow: hidden;
  }

  .carousel .carousel-status {
    position: absolute;
    top: 1rem;
    right: 0;
    padding: 5px;
    font-size: 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);

  }

  .carousel .thumb.selected, .carousel .thumb:hover {
    border: 1px solid #333;
}


:root{ --swiper-theme-color:white !important;
  --swiper-navigation-size: 15px;
}