.container {
  margin: 0 0;
  padding: 200px 150px 200px 150px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.teamMembers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.teamMember {
  width: 300px;
  margin: 10px;
  text-align: center;
  border-radius: 4px;
  transition: transform 0.3s, box-shadow 0.3s;
  perspective: 1000px;
  cursor: pointer;
}

.flipCardInner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.teamMember:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flipCardFront {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.flipCardBack {
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  transform: rotateY(180deg);
}

.memberImage {
  width: 280px; 
  height: 350px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 0.9rem;
}


.memberName {
  font-size: 18px;
  color: rgb(43, 43, 43);
  background-color: rgba(0, 0, 0, 0);
  padding: 8px 12px;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10rem;
  left: 0;
}


.teamMember h3 {
  margin-bottom: 40px;
}

.teamMember p {
  font-size: 14px;
  color: #555;
}


@media (max-width: 480px) {
  .container {
    padding: 40px 20px 80px 80px;
  }

  .teamMember0 {
    width: 200px;
    padding-right: 8rem;
    padding-top: 5rem;
    margin: 0;

  }

  .teamMember1 {
    padding-left: 8rem;
    margin: 0;

  }

  .memberImage {
    max-width: 150px;
    max-height: 180px;
    display: flex;
    align-items: center;
  }

  .memberName {
    font-size: 14px;
    bottom: 3rem;
  }

  .teamMember h3 {
    margin-bottom: 55px;
  }

  .flipCardBack {
    display: flex;
    max-width: 150px;
    max-height: 180px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transform: rotateY(180deg);
    justify-content: center;
  }
}