.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  
  .contactInfo {
    margin-top: 30px;
  }
  
  .contactForm {
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: .5em;
    background-color: #ccc;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  input,
  textarea {
    width: 95%;
    height: 95%;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #000;
    border-radius: 4px;
  }
  
  .submitButton {
    display: block;
    margin-left: 2px;
    padding: 10px 20px;
    background-color: #18791dde;
    color: #e6e3e3;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #a5a5a5;
    color: aliceblue;
  }
  