.navbar {
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
}

.navLink {
  color: #333; 
  text-decoration: none;
  margin-right: 20px; 
  cursor: pointer;
  transition: color 0.3s; 
  border-bottom: 2px solid transparent;
}

.navLink:hover {
  color: #007bff; 
}


.navLink.active {
  font-weight: bold; 
  color: #0d9dce;
  border-bottom: 2px solid #0d9dce; 
}


.leftSection {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.socialIcon {
  font-size: 24px;
  color: rgb(18, 18, 18);
  text-decoration: none;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #0d9dce;
}

.logo {
  max-width: 160px;
}

.menuIcon {
  font-size: 24px;
  color: rgb(18, 18, 18);
  cursor: pointer;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.mobileMenu a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  flex-direction: row-reverse;
}

.mobileMenu a:hover {
  color: #409cfe;
}

.hiddenMenu {
  display: none;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navLink {
    margin-right: 0px; 
  }

  .mobileMenu a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    flex-direction: row-reverse;
  }
  
  .mobileMenu a:hover {
    color: #409cfe;
  }

  .middleSection {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo {
    max-width: 120px;
  }
}
